# progress bars in model download and training scripts
tqdm
# Used for downloading models over HTTP
requests
# Used for handling zip files
zipfile
# tensorflow GPU
tensorflow-gpu==2.5.3
# ONNX
tf2onnx==1.5.3